## First pair programming in class
## Partners: Jamie and Sukhrobjon
### Date: [02/25/2019]

In [1]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import scipy.stats as st
import math
import numpy as np
from scipy import stats

In [2]:
def accept_or_reject_null_hypothesis(mu, sample_mean, significant_level, N, sigma):
    # Calculate standard deviation of the sampling distribution
    
    sample_std = sigma / math.sqrt(N)
    # Calculate z-score from population mean (mu), sample mean and sample std

    z = (sample_mean - mu) / sample_std
    # Calculate p-value from z-score
    p_value = 2 * st.norm.cdf(-np.abs(z))
    # Determine whether to accept or reject null hypothesis
    if p_value < significant_level:
        print('reject null hypothesis')
    else:
        print('accept null hypothesis')

In [3]:
mu = 1.2
bar_x = 1.05
N = 100 
sigma = 0.5
alpha = 0.05
accept_or_reject_null_hypothesis(mu, bar_x, alpha, N, sigma)

reject null hypothesis

## Activity: t-test

### The average British man is 175.3 cm tall. A survey recorded the heights of 10 British men. Calculate the t-score from formula and use available function in stats.ttest_1samp. Compare what you will get x = [177.3, 182.7, 169.6, 176.3, 180.3, 179.4, 178.5, 177.2, 181.8, 176.5]

In [4]:
x = [177.3, 182.7, 169.6, 176.3, 180.3, 179.4, 178.5, 177.2, 181.8, 176.5]
mu = 175.3
sample_mean = np.array(x).mean()

# Calculate the standard deviation of sample distribution

N = len(x) # number of data samples
SE = np.array(x).std(ddof=1) /np.sqrt(N)

# t-test from formula
t = (sample_mean - mu)/SE
print("t-statistic: ",t)

# one sample t-test that gives you the p-value too can be done with scipy as follows:
t, p = stats.ttest_1samp(x, mu)
print("t = ", t, ", p = ", p)

t-statistic:  2.295568968083183
t =  2.295568968083183 , p =  0.04734137339747034

In [5]:
def z_t_null_hypothesis(data_sample, mu, sigma, significant_level):
    if sigma:
        z_score = (np.mean(data_sample)-mu)/(sigma/np.sqrt(len(data_sample)))
        p = stats.norm.sf(abs(z_score))*2
    elif len(data_sample) > 30:
        print("Data sample is > 30")
        z_score = (np.mean(data_sample)-mu)/(np.std(data_sample)/np.sqrt(len(data_sample)))
        p = stats.norm.sf(abs(z_score))*2
    else:
        t, p = stats.ttest_1samp(data_sample, mu)
    
    print("p: ", p)
    if p < significant_level:
        print('reject null hypothesis')

    else:
        print('accept null hypothesis')

In [6]:
# data_sample = [10] * 100
data_sample = [177.3, 182.7, 169.6, 176.3, 180.3, 179.4, 178.5, 177.2, 181.8, 176.5]
mu = 175.3
significant_level = 0.05
sigma = 0.5
z_t_null_hypothesis(data_sample, mu, sigma, significant_level)

p:  1.6467457474609478e-63
reject null hypothesis

In [7]:
iris = sns.load_dataset('iris')
iris.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

## 1. How many features, records and plants doet it have?

In [8]:
plants = 150
records = None

## 2. Gather all of the sepal length for Iris setosa

In [9]:
iris[iris["species"] == "setosa"]["sepal_length"].value_counts()

5.1    8
5.0    8
5.4    5
4.8    5
4.6    4
4.9    4
4.4    3
5.2    3
5.7    2
4.7    2
5.5    2
5.3    1
5.8    1
4.3    1
4.5    1
Name: sepal_length, dtype: int64

In [10]:
df = iris

x = df[df['species'] == 'setosa']['sepal_length'].tolist()

print(np.mean(x))

def ci_z(data_sample, significant_level, sigma):
    z = stats.norm.ppf(1-significant_level/2)
    L = np.mean(data_sample) - z*sigma/np.sqrt(len(data_sample))
    U = np.mean(data_sample) + z*sigma/np.sqrt(len(data_sample))
    return L, U


def ci_t(data_sample, significant_level):
    t = stats.t.ppf(1 - significant_level/2, len(data_sample) - 1)
    L = np.mean(data_sample) - t * np.std(data_sample, ddof=1) / np.sqrt(len(data_sample))
    U = np.mean(data_sample) + t * np.std(data_sample, ddof=1) / np.sqrt(len(data_sample))
    return L, U

print("Ci_z: ",ci_z(x, 0.05, 0.3525))
print("Ci_t: ",ci_t(x,0.05))

5.006
Ci_z:  (4.908293780383348, 5.103706219616653)
Ci_t:  (4.905823539430869, 5.106176460569132)

In [11]:
### > Hypotesis testing
#         - Pop.metrics,
#         - null hypothisis testing
#         - z-testing(normal data) n > 30
#         - t-testing(less data) n < 30

In [12]:
def find_remove_outlier(data):
    # calculate summary statistics
    data_mean, data_std = npm.mean(data), npm.std(data)