In [6]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

PATH = './2016/Anon Week 2 Feedback - SF.csv'

In [11]:
df = pd.read_csv(PATH)

In [12]:
df

,What track are you in?,Timestamp,How would you rate your overall satisfaction with the Summer Academy this week?,How well is the schedule paced?
0,Apps,7/1/2016 16:35:14,2,3
1,Apps,7/1/2016 16:10:55,3,2
2,Apps,7/1/2016 17:00:26,3,3
3,Apps,7/3/2016 14:53:37,3,3
4,Apps,7/1/2016 15:35:19,4,2
5,Apps,7/1/2016 15:51:23,4,2
6,Apps,7/1/2016 16:07:02,4,5
7,Apps,7/1/2016 16:07:26,4,3
8,Apps,7/1/2016 16:08:19,4,4
9,Apps,7/1/2016 16:12:30,4,4
10,Apps,7/1/2016 16:19:32,4,3
11,Apps,7/1/2016 16:21:07,4,5
12,Apps,7/1/2016 16:41:10,4,3
13,Apps,7/1/2016 17:06:05,4,3
14,Apps,7/1/2016 17:18:27,4,3
15,Apps,7/1/2016 19:06:08,4,2
16,Apps,7/2/2016 0:32:56,4,3
17,Apps,7/1/2016 16:05:40,5,3
18,Apps,7/1/2016 16:07:13,5,2
19,Apps,7/1/2016 16:07:24,5,3
20,Apps,7/1/2016 16:07:58,5,3
21,Apps,7/1/2016 16:07:58,5,4
22,Apps,7/1/2016 16:08:49,5,3
23,Apps,7/1/2016 16:10:20,5,3
24,Apps,7/1/2016 16:10:46,5,2
25,Apps,7/1/2016 16:12:17,5,3
26,Apps,7/1/2016 16:19:33,5,4
27,Apps,7/1/2016 16:22:03,5,3
28,Games,7/1/2016 16:10:34,4,4
29,Games,7/1/2016 16:23:13,4,5
...,...,...,...,...
32,Games,7/1/2016 16:15:41,5,3
33,Games,7/1/2016 16:16:13,5,3
34,Games,7/1/2016 16:17:34,5,3
35,Games,7/1/2016 16:18:02,5,3
36,Games,7/1/2016 16:18:02,5,3
37,Intro,7/1/2016 15:40:51,3,3
38,Intro,7/1/2016 15:38:22,4,2
39,Intro,7/1/2016 15:40:24,4,3
40,Intro,7/1/2016 15:40:28,4,3
41,Intro,7/1/2016 15:42:15,4,3
42,Intro,7/1/2016 15:49:06,4,4
43,Intro,7/1/2016 15:50:59,4,4
44,Intro,7/1/2016 16:20:36,4,4
45,Intro,7/1/2016 17:13:25,4,4
46,Intro,7/5/2016 9:48:32,4,3
47,Intro,7/5/2016 16:07:37,4,4
48,Intro,7/5/2016 16:10:40,4,3
49,Intro,7/5/2016 16:11:11,4,3
50,Intro,7/1/2016 16:24:01,5,4
51,Intro,7/4/2016 18:31:39,5,3
52,Intro,7/5/2016 9:39:22,5,3
53,Intro,7/5/2016 10:15:27,5,3
54,Intro,7/5/2016 16:09:01,5,3
55,VR,7/2/2016 12:45:15,1,3
56,VR,7/2/2016 12:49:55,2,3
57,VR,7/5/2016 12:00:21,2,3
58,VR,7/1/2016 15:35:33,5,3
59,VR,7/2/2016 21:55:49,5,3
60,VR,7/5/2016 11:30:35,5,3
61,VR,7/5/2016 18:24:11,5,3