In [2]:
import pandas as pd
import numpy as np
PATH = "./2017/Student Feedback Surveys-Superview.csv"

In [35]:
df = pd.read_csv(PATH)

In [36]:
df.head()

    ID       Location           Track    Week Rating (Num)    Schedule Pacing
0  134  San Francisco  Apps, Explorer  Week 1            3         Just right
1   36    Los Angeles            Apps  Week 1            4  A little too fast
2  117  San Francisco           Games  Week 1            4       Way too slow
3  253            NaN             NaN  Week 2            4  A little too fast
4  350  New York City  Apps, Explorer  Week 1            4         Just right

In [37]:
df['Location'].value_counts()

San Francisco    360
New York City    330
Santa Clara      201
Los Angeles      106
Beijing           78
Chicago           70
Tokyo             65
Redwood City      58
Oakland           47
Washington DC     47
Atlanta           33
Hong Kong         11
Name: Location, dtype: int64

In [38]:
df["Rating (Num)"].unique()

array(['3', '4', '5', '6', '7', '8', '9', '10', '0', '1', '2', '#ERROR!'],
      dtype=object)

In [50]:
df["Schedule Pacing"].unique()

schedule_pacing_map = {
    0: 0,
    1: 1,
    2: 2,
    3: 3,
    4: 4,
    5: 5,
    "Way too slow": 1,
    "A little too slow": 2,
    "Just right": 3,
    "A little too fast": 4,
    "Way too fast": 5
}

df["Schedule Pacing"] = df["Schedule Pacing"].fillna(0)
df["Schedule Pacing"] = df["Schedule Pacing"].map(schedule_pacing_map)
df["Schedule Pacing"].unique()

array([3, 4, 1, 2, 5, 0])

In [52]:
df["Schedule Pacing"].value_counts()

3    1034
4     289
2     100
5      23
1       4
0       3
Name: Schedule Pacing, dtype: int64

In [8]:
df["Location"].value_counts(dropna=Falselse)

San Francisco    360
New York City    330
Santa Clara      201
Los Angeles      106
Beijing           78
Chicago           70
Tokyo             65
Redwood City      58
Oakland           47
Washington DC     47
NaN               47
Atlanta           33
Hong Kong         11
Name: Location, dtype: int64

In [10]:
df["Track"].unique()

array(['Apps, Explorer', 'Apps', 'Games', nan, 'VR', 'Games, Explorer'],
      dtype=object)

In [66]:
df.head(10)

    ID       Location           Track  Week Rating (Num)  Schedule Pacing
0  134  San Francisco  Apps, Explorer     1            3                3
1   36    Los Angeles            Apps     1            4                4
2  117  San Francisco           Games     1            4                1
3  253            NaN             NaN     2            4                4
4  350  New York City  Apps, Explorer     1            4                3
5   23   Redwood City            Apps     1            5                3
6   28    Los Angeles            Apps     7            5                3
7   65  San Francisco            Apps     1            5                2
8  101    Santa Clara            Apps     1            5                2
9  124    Santa Clara            Apps     1            5                3

In [63]:
# Modifying the week values with numbers
old_week_values = df["Week"].value_counts().keys().tolist()
print(old_week_values)
new_week_values = [1, 2, 3, 4, 5, 6, 7, 8]
df = df.replace(old_week_values, new_week_values)

['Week 1', 'Week 2', 'Week 3', 'Week 4', 'Week 5', 'Week 6', 'Week 7', 'Week 8']

In [65]:
df["Week"].unique()

array([1, 2, 7, 3, 4, 5, 6, 8])

In [57]:
# Modifying the locations with 2 letter representation
old_location_values = df["Location"].value_counts().keys().tolist()
print(old_location_values)

# df8 = df8.replace(old_location_values, two_letter_location)

['San Francisco', 'New York City', 'Santa Clara', 'Los Angeles', 'Beijing', 'Chicago', 'Tokyo', 'Redwood City', 'Oakland', 'Washington DC', 'Atlanta', 'Hong Kong']

In [58]:
df["Rating (Num)"].value_counts()

8          392
9          384
10         376
7          177
6           59
5           35
4           13
3            8
#ERROR!      3
0            2
1            2
2            2
Name: Rating (Num), dtype: int64