In [78]:
import pandas as pd
import numpy as np

In [74]:
locations = ['LA','NY','SF','SG','SV','HK', 'Taipei', 'Tokyo']
df = pd.DataFrame()
for i in range (len(locations)):
    for week in range (1,8):
        file_name = "./2016/Anon Week " + str(week) + " Feedback - " + str(locations[i]) + ".csv"
        #print(file_name)
        try:
            new_df = pd.read_csv(file_name)
            new_df["Location"] = locations[i]
            new_df['Week'] = week
            df = pd.concat([df,new_df], ignore_index=True)
        except (FileNotFoundError):
            print(file_name)
    
df = df.drop('Unnamed: 0', axis = 1)
df = df.drop('Timestamp', axis=1)
df = df.round({'How well is the schedule paced?':0})
df

/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:12: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  if sys.path[0] == '':

./2016/Anon Week 7 Feedback - SG.csv
./2016/Anon Week 1 Feedback - HK.csv
./2016/Anon Week 2 Feedback - HK.csv
./2016/Anon Week 3 Feedback - HK.csv
./2016/Anon Week 4 Feedback - HK.csv
./2016/Anon Week 7 Feedback - HK.csv
./2016/Anon Week 1 Feedback - Taipei.csv
./2016/Anon Week 2 Feedback - Taipei.csv
./2016/Anon Week 3 Feedback - Taipei.csv
./2016/Anon Week 4 Feedback - Taipei.csv
./2016/Anon Week 5 Feedback - Taipei.csv
./2016/Anon Week 1 Feedback - Tokyo.csv
./2016/Anon Week 2 Feedback - Tokyo.csv
./2016/Anon Week 3 Feedback - Tokyo.csv
./2016/Anon Week 4 Feedback - Tokyo.csv
./2016/Anon Week 5 Feedback - Tokyo.csv
./2016/Anon Week 7 Feedback - Tokyo.csv

,How well are the tutorials paced?,How well is the schedule paced?,How would you rate your overall satisfaction with the Summer Academy this week?,Location,Week,What track are you in?
0,4.0,NaN,3,LA,1,NaN
1,4.0,NaN,4,LA,1,NaN
2,4.0,NaN,4,LA,1,NaN
3,4.0,NaN,4,LA,1,NaN
4,5.0,NaN,4,LA,1,NaN
5,4.0,NaN,5,LA,1,NaN
6,3.0,NaN,5,LA,1,NaN
7,NaN,2,4,LA,2,NaN
8,NaN,3,3,LA,2,NaN
9,NaN,4,4,LA,2,NaN
10,NaN,3,4,LA,2,NaN
11,NaN,3,4,LA,2,NaN
12,NaN,3,5,LA,2,NaN
13,NaN,3,5,LA,2,NaN
14,NaN,2,4,LA,3,NaN
15,NaN,4,4,LA,3,NaN
16,NaN,3,4,LA,3,NaN
17,NaN,3,4,LA,3,NaN
18,NaN,3,4,LA,3,NaN
19,NaN,4,5,LA,3,NaN
20,NaN,3,5,LA,4,NaN
21,NaN,3,5,LA,4,NaN
22,NaN,3,5,LA,4,NaN
23,NaN,4,5,LA,4,NaN
24,NaN,3,3,LA,4,NaN
25,NaN,3,4,LA,4,NaN
26,NaN,3,4,LA,4,NaN
27,NaN,3,4,LA,4,NaN
28,NaN,2,3,LA,5,Games
29,NaN,3,4,LA,5,Intro
...,...,...,...,...,...,...
897,NaN,4,3,Taipei,6,NaN
898,NaN,3,3,Taipei,6,NaN
899,NaN,2,5,Taipei,6,NaN
900,NaN,4,4,Taipei,6,NaN
901,NaN,4,5,Taipei,6,NaN
902,NaN,3,5,Taipei,6,NaN
903,NaN,3,3,Taipei,7,NaN
904,NaN,3,4,Taipei,7,NaN
905,NaN,3,4,Taipei,7,NaN
906,NaN,4,4,Taipei,7,NaN
907,NaN,4,5,Taipei,7,NaN
908,NaN,3,4,Taipei,7,NaN
909,NaN,3,4,Taipei,7,NaN
910,NaN,3,5,Taipei,7,NaN
911,NaN,3,5,Taipei,7,NaN
912,NaN,3,5,Taipei,7,NaN
913,NaN,3,3,Taipei,7,NaN
914,NaN,4,3,Tokyo,6,NaN
915,NaN,3,4,Tokyo,6,NaN
916,NaN,1,4,Tokyo,6,NaN
917,NaN,2,4,Tokyo,6,NaN
918,NaN,4,5,Tokyo,6,NaN
919,NaN,3,3,Tokyo,6,NaN
920,NaN,5,5,Tokyo,6,NaN
921,NaN,2,4,Tokyo,6,NaN
922,NaN,4,3,Tokyo,6,NaN
923,NaN,3,5,Tokyo,6,NaN
924,NaN,3,5,Tokyo,6,NaN
925,NaN,4,4,Tokyo,6,NaN
926,NaN,3,4,Tokyo,6,NaN

### Clean Confounding Pacing Data and Merge Schedule-Pacing and Tutorial-Pacing Columns

In [75]:
def clean_combine_pacing(df):
    # Drop confounding #REF! value
    df = df[df["How well is the schedule paced?"] != "#REF!"]

    # Replace NaNs with zero-values
    df["How well are the tutorials paced?"] = df["How well are the tutorials paced?"].fillna(0).astype(int)
    df["How well is the schedule paced?"] = df["How well is the schedule paced?"].fillna(0).astype(int)

    # Merge both columns into new column "Pacing"
    df["Pacing"] = (df["How well are the tutorials paced?"] + df["How well is the schedule paced?"]) * 2
    df.drop(columns=["How well are the tutorials paced?", "How well is the schedule paced?"], inplace=True)
    
    return df

### NOTE: Run the cell below _once_ to clean and combine _Pacing_ data!

In [79]:
# np.nan --> int(0)
#            int(-1)
#            float(0.0)
#            str("None")
#            bool(False)

nan

In [76]:
df = clean_combine_pacing(df)
df

/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  import sys
/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  # Remove the CWD from sys.path while we load stuff.

,How would you rate your overall satisfaction with the Summer Academy this week?,Location,Week,What track are you in?,Pacing
0,3,LA,1,NaN,8
1,4,LA,1,NaN,8
2,4,LA,1,NaN,8
3,4,LA,1,NaN,8
4,4,LA,1,NaN,10
5,5,LA,1,NaN,8
6,5,LA,1,NaN,6
7,4,LA,2,NaN,4
8,3,LA,2,NaN,6
9,4,LA,2,NaN,8
10,4,LA,2,NaN,6
11,4,LA,2,NaN,6
12,5,LA,2,NaN,6
13,5,LA,2,NaN,6
14,4,LA,3,NaN,4
15,4,LA,3,NaN,8
16,4,LA,3,NaN,6
17,4,LA,3,NaN,6
18,4,LA,3,NaN,6
19,5,LA,3,NaN,8
20,5,LA,4,NaN,6
21,5,LA,4,NaN,6
22,5,LA,4,NaN,6
23,5,LA,4,NaN,8
24,3,LA,4,NaN,6
25,4,LA,4,NaN,6
26,4,LA,4,NaN,6
27,4,LA,4,NaN,6
28,3,LA,5,Games,4
29,4,LA,5,Intro,6
...,...,...,...,...,...
897,3,Taipei,6,NaN,8
898,3,Taipei,6,NaN,6
899,5,Taipei,6,NaN,4
900,4,Taipei,6,NaN,8
901,5,Taipei,6,NaN,8
902,5,Taipei,6,NaN,6
903,3,Taipei,7,NaN,6
904,4,Taipei,7,NaN,6
905,4,Taipei,7,NaN,6
906,4,Taipei,7,NaN,8
907,5,Taipei,7,NaN,8
908,4,Taipei,7,NaN,6
909,4,Taipei,7,NaN,6
910,5,Taipei,7,NaN,6
911,5,Taipei,7,NaN,6
912,5,Taipei,7,NaN,6
913,3,Taipei,7,NaN,6
914,3,Tokyo,6,NaN,8
915,4,Tokyo,6,NaN,6
916,4,Tokyo,6,NaN,2
917,4,Tokyo,6,NaN,4
918,5,Tokyo,6,NaN,8
919,3,Tokyo,6,NaN,6
920,5,Tokyo,6,NaN,10
921,4,Tokyo,6,NaN,4
922,3,Tokyo,6,NaN,8
923,5,Tokyo,6,NaN,6
924,5,Tokyo,6,NaN,6
925,4,Tokyo,6,NaN,8
926,4,Tokyo,6,NaN,6

In [46]:
df["How well is the schedule paced?"].unique()

array([nan, 2.0, 3.0, 4.0, 1.0, 5.0, '2', '3', '4', '5'], dtype=object)

In [2]:
df[df.Location == 'LA']['Location'].value_counts()

LA    59
Name: Location, dtype: int64

In [3]:
df.describe()

       How well are the tutorials paced?        Week
count                         216.000000  927.000000
mean                            3.384259    3.600863
std                             0.658068    2.094506
min                             2.000000    1.000000
25%                             3.000000    2.000000
50%                             3.000000    3.000000
75%                             4.000000    5.000000
max                             5.000000    7.000000

In [4]:
df[(df['What track are you in?']=='Games') & (df["Location"] == "LA")].head()

,How well are the tutorials paced?,How well is the schedule paced?,How would you rate your overall satisfaction with the Summer Academy this week?,Location,Week,What track are you in?
28,NaN,2,3,LA,5,Games
31,NaN,3,4,LA,5,Games
33,NaN,3,4,LA,5,Games
35,NaN,4,4,LA,5,Games
36,NaN,4,5,LA,5,Games

In [5]:
(df['Location']).value_counts()

SV        314
SF        295
NY        169
LA         59
SG         48
Taipei     23
Tokyo      13
HK          6
Name: Location, dtype: int64

In [6]:
(df['How well are the tutorials paced?']).value_counts(dropna=False)

NaN     711
 3.0    121
 4.0     74
 2.0     11
 5.0     10
Name: How well are the tutorials paced?, dtype: int64

In [7]:
711/len(df['How well are the tutorials paced?'])

0.7669902912621359

In [8]:
# Since almost 77% percent data are missing on How well are the tutorials paced?' question (column) I can drop the
# column and not counting towards to data analysis

In [9]:
(df['What track are you in?']).value_counts(dropna=False)

Apps        395
Intro       199
Games       184
NaN         118
VR           30
Average:      1
Name: What track are you in?, dtype: int64

In [10]:
118/len(df['What track are you in?'])

0.1272923408845739

In [11]:
# Observation on [Track] column. Looks like there are enough exact data [NaN] values are only [12%]

In [12]:
(df['How well is the schedule paced?']).value_counts(dropna=False)

3.0      430
NaN      216
4.0      163
2.0       44
5.0       31
3         20
4         10
1.0        6
2          4
5          2
#REF!      1
Name: How well is the schedule paced?, dtype: int64

In [13]:
# The percentage of NaN values on this column
df['How well is the schedule paced?'].isna().sum()/len(df['How well is the schedule paced?'])

0.23300970873786409

In [14]:
# Location Represention in terms of the number of submitted data 
df['Location'].value_counts().plot(kind='bar')

In [15]:
df['Location'].value_counts()

SV        314
SF        295
NY        169
LA         59
SG         48
Taipei     23
Tokyo      13
HK          6
Name: Location, dtype: int64