In [1]:
import pandas as pd
locations = ['LA','NY','SF','SG','SV','HK', 'Taipei', 'Tokyo']
df = pd.DataFrame()
for i in range (len(locations)):
    for week in range (1,8):
        file_name = "./2016/Anon Week " + str(week) + " Feedback - " + str(locations[i]) + ".csv"
        #print(file_name)
        try:
            new_df = pd.read_csv(file_name)
            new_df["Location"] = locations[i]
            new_df['Week'] = week
            df = pd.concat([df,new_df], ignore_index=True)
        except (FileNotFoundError):
            print(file_name)
    
df = df.drop('Unnamed: 0', axis = 1)
df = df.drop('Timestamp', axis=1)
df = df.round({'How well is the schedule paced?':0})
df.head()

/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:12: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  if sys.path[0] == '':

./2016/Anon Week 7 Feedback - SG.csv
./2016/Anon Week 1 Feedback - HK.csv
./2016/Anon Week 2 Feedback - HK.csv
./2016/Anon Week 3 Feedback - HK.csv
./2016/Anon Week 4 Feedback - HK.csv
./2016/Anon Week 7 Feedback - HK.csv
./2016/Anon Week 1 Feedback - Taipei.csv
./2016/Anon Week 2 Feedback - Taipei.csv
./2016/Anon Week 3 Feedback - Taipei.csv
./2016/Anon Week 4 Feedback - Taipei.csv
./2016/Anon Week 5 Feedback - Taipei.csv
./2016/Anon Week 1 Feedback - Tokyo.csv
./2016/Anon Week 2 Feedback - Tokyo.csv
./2016/Anon Week 3 Feedback - Tokyo.csv
./2016/Anon Week 4 Feedback - Tokyo.csv
./2016/Anon Week 5 Feedback - Tokyo.csv
./2016/Anon Week 7 Feedback - Tokyo.csv

,How well are the tutorials paced?,How well is the schedule paced?,How would you rate your overall satisfaction with the Summer Academy this week?,Location,Week,What track are you in?
0,4.0,NaN,3,LA,1,NaN
1,4.0,NaN,4,LA,1,NaN
2,4.0,NaN,4,LA,1,NaN
3,4.0,NaN,4,LA,1,NaN
4,5.0,NaN,4,LA,1,NaN

In [2]:
df[df.Location == 'LA']['Location'].value_counts()

LA    59
Name: Location, dtype: int64

In [3]:
df.describe()

       How well are the tutorials paced?        Week
count                         216.000000  927.000000
mean                            3.384259    3.600863
std                             0.658068    2.094506
min                             2.000000    1.000000
25%                             3.000000    2.000000
50%                             3.000000    3.000000
75%                             4.000000    5.000000
max                             5.000000    7.000000

In [4]:
df[(df['What track are you in?']=='Games') & (df["Location"] == "LA")].head()

,How well are the tutorials paced?,How well is the schedule paced?,How would you rate your overall satisfaction with the Summer Academy this week?,Location,Week,What track are you in?
28,NaN,2,3,LA,5,Games
31,NaN,3,4,LA,5,Games
33,NaN,3,4,LA,5,Games
35,NaN,4,4,LA,5,Games
36,NaN,4,5,LA,5,Games

In [5]:
(df['Location']).value_counts()

SV        314
SF        295
NY        169
LA         59
SG         48
Taipei     23
Tokyo      13
HK          6
Name: Location, dtype: int64

In [6]:
(df['How well are the tutorials paced?']).value_counts(dropna=False)

NaN     711
 3.0    121
 4.0     74
 2.0     11
 5.0     10
Name: How well are the tutorials paced?, dtype: int64

In [7]:
711/len(df['How well are the tutorials paced?'])

0.7669902912621359

In [8]:
# Since almost 77% percent data are missing on How well are the tutorials paced?' question (column) I can drop the
# column and not counting towards to data analysis

In [9]:
(df['What track are you in?']).value_counts(dropna=False)

Apps        395
Intro       199
Games       184
NaN         118
VR           30
Average:      1
Name: What track are you in?, dtype: int64

In [10]:
118/len(df['What track are you in?'])

0.1272923408845739

In [11]:
# Observation on [Track] column. Looks like there are enough exact data [NaN] values are only [12%]

In [12]:
(df['How well is the schedule paced?']).value_counts(dropna=False)

3.0      430
NaN      216
4.0      163
2.0       44
5.0       31
3         20
4         10
1.0        6
2          4
5          2
#REF!      1
Name: How well is the schedule paced?, dtype: int64

In [13]:
# The percentage of NaN values on this column
df['How well is the schedule paced?'].isna().sum()/len(df['How well is the schedule paced?'])

0.23300970873786409

In [14]:
# Location Represention in terms of the number of submitted data 
df['Location'].value_counts().plot(kind='bar')

In [15]:
df['Location'].value_counts()

SV        314
SF        295
NY        169
LA         59
SG         48
Taipei     23
Tokyo      13
HK          6
Name: Location, dtype: int64