# Google play store dataset

In [1]:
import pandas as pd
import numpy as np
PATH = "googleplaystore.csv"
df = pd.read_csv(PATH)

In [48]:
len(df)

10841

In [18]:
len(df["Category"].unique())

34

In [17]:
len(df["Genres"].unique()) 
# lets drop genres column that sounds a duplicate with "Category" column

120

In [4]:
df["Rating"].value_counts(dropna=False)
# think about what to do with that many NaN values and delete the only redundant value:"19.0"

NaN      1474
 4.4     1109
 4.3     1076
 4.5     1038
 4.2      952
 4.6      823
 4.1      708
 4.0      568
 4.7      499
 3.9      386
 3.8      303
 5.0      274
 3.7      239
 4.8      234
 3.6      174
 3.5      163
 3.4      128
 3.3      102
 4.9       87
 3.0       83
 3.1       69
 3.2       64
 2.9       45
 2.8       42
 2.6       25
 2.7       25
 2.5       21
 2.3       20
 2.4       19
 1.0       16
 2.2       14
 1.9       13
 2.0       12
 1.8        8
 1.7        8
 2.1        8
 1.6        4
 1.5        3
 1.4        3
 1.2        1
 19.0       1
Name: Rating, dtype: int64

In [5]:
df["Price"].value_counts()

0           10040
$0.99         148
$2.99         129
$1.99          73
$4.99          72
$3.99          63
$1.49          46
$5.99          30
$2.49          26
$9.99          21
$6.99          13
$399.99        12
$14.99         11
$4.49           9
$3.49           7
$24.99          7
$7.99           7
$29.99          7
$5.49           6
$19.99          6
$6.49           5
$12.99          5
$11.99          5
$8.99           5
$16.99          3
$1.00           3
$10.00          3
$2.00           3
$79.99          2
$39.99          2
            ...
$3.88           1
$394.99         1
$18.99          1
$1.29           1
$3.61           1
$200.00         1
$25.99          1
$2.50           1
$1.50           1
$4.29           1
$109.99         1
$2.59           1
$1.96           1
$4.59           1
$1.61           1
$4.84           1
$1.59           1
$4.85           1
$1.04           1
$3.90           1
$89.99          1
$74.99          1
Everyone        1
$1.20           1
$4.77           1
$3.08           1
$379.99         1
$3.04           1
$2.90           1
$30.99          1
Name: Price, Length: 93, dtype: int64

In [6]:
# what makes the most installing of the app?

In [8]:
df["Content Rating"].value_counts(dropna=False)

Everyone           8714
Teen               1208
Mature 17+          499
Everyone 10+        414
Adults only 18+       3
Unrated               2
NaN                   1
Name: Content Rating, dtype: int64

In [10]:
# df["Android Ver"].value_counts(dropna=False)

In [13]:
df["Type"].value_counts(dropna=False)
# I need to drop nan and 0 values

Free    10039
Paid      800
0           1
NaN         1
Name: Type, dtype: int64

In [76]:
df["Size"].dtypes

dtype('O')

In [56]:
df["Size"].value_counts()
len(df[df["Size"] == "Varies with device"])/len(df["Size"])
# I am gonna replace "varies with device" with zero, since I can make assumption the size of the apps 

df["Size"].replace("Varies with device", "0M", inplace=True)

/anaconda3/lib/python3.7/site-packages/pandas/core/generic.py:5890: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._update_inplace(new_data)

In [57]:
# dropping garbage
df = df[df["Size"] != "1,000+"]

In [63]:
# df[df["Size"][-1] == 'k']
# df["Size"].value_counts()
df["Size"].isnull().sum()

0

In [70]:
df['Size'].replace('', np.nan, inplace=True)
df["Size"].fillna("0M", inplace=True)


# len(df[df["Size"] == "0M"])

# len(df[df["Size"] == "0M"])

In [80]:
df["Size"] = df["Size"].apply(lambda x: (x[:-1]))

In [81]:
df["Size"]

0         19
1         14
2        8.7
3         25
4        2.8
5        5.6
6         19
7         29
8         33
9        3.1
10        28
11        12
12        20
13        21
14        37
15       2.7
16       5.5
17        17
18        39
19        31
20        14
21        12
22       4.2
23       7.0
24        23
25       6.0
26        25
27       6.1
28       4.6
29       4.2
        ...
10811    3.9
10812     13
10813    2.7
10814     31
10815    4.9
10816    6.8
10817    8.0
10818    1.5
10819    3.6
10820    8.6
10821    2.5
10822    3.1
10823    2.9
10824     82
10825    7.7
10826      0
10827     13
10828     13
10829    7.4
10830    2.3
10831    9.8
10832    582
10833    619
10834    2.6
10835    9.6
10836     53
10837    3.6
10838    9.5
10839      0
10840     19
Name: Size, Length: 10840, dtype: object